<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>V17.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2D10F1D2502B07D005FD9B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D10F332502B087005FD9B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D10F3E2502B087005FD9B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
